.checkbox-form {
    display: flex;
    justify-content: space-between;
}


/* fieldset {
    margin-left: 2.5%;
    width: 93.5%;
} */

img {
    width: 90px;
    height: 90px;

}

header {
    background: rgba(119, 136, 153);
    margin-left: -8px;
    /* Adiciona margem à esquerda no fieldset */
    margin-right: -8px;
    /* Adiciona margem à esquerda no fieldset */
}


div#chart {
    width: 98%;
}


#video {
    display: none;
}

#chart {
    display: flex;
    flex-direction: column;
}

main{
    position: relative;
}

.dbreak{
    display: flex;
    flex-direction: column;
    height: auto !important;
    z-index: -1;
    overflow: visible !important;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 0.2s ease-in-out;
    position: absolute;
    width: 100%;
    transform: perspective(245px) rotateY(0deg) rotateX(0deg) translateY(00px) translateX(10px);
}

#chart div{
    display: flex;
    justify-content: center;
} 


svg{
    overflow: visible !important;
    margin: 0 auto;
}