#chart {
    overflow: visible !important;
    position: absolute;
    width: 100%;
    top: -1000px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform:perspective(231px) rotateY(0deg) rotateX(0deg) translateY(100px);
    transition: transform 0.2s ease-in-out;
}

#upper {
    -webkit-transform: rotateX(180deg) translate3d(-0, 0px, 0px);
 
    opacity: .85;
}

#meio3 {
    -webkit-transform: translate3d(0px, 0px, 0px) rotate3d(0, 0, 0, 0deg) translate3d(0px, 0px, 0px)  ;
   
    opacity: .85;
}

#meio2 {
    -webkit-transform:  translate3d(0px, -0px, -0px);
}

#meio1 {
    -webkit-transform:  translate3d(0px, -0, 0px) rotate3d(1, 0, 0, -0deg) translate3d(0px, 0, 0px) ;
    opacity: .85;
}

#lower {
    -webkit-transform: rotateX(180deg) translate3d(0, 0, 0px);
    opacity: .85;
}

svg{
    border: 1px solid #000;
}

input{
    top: 100px;
    left: 500px;
}